; http://editorconfig.org/
root = true

[*]
charset = utf-8
end_of_line = LF
trim_trailing_whitespace = true
insert_final_newline = true

[*.php]
indent_style = space
indent_size = 4

[*.zep]
indent_style = space
indent_size = 4

[*.c]
indent_style = tab

[*.h]
indent_style = tab

[*.lemon]
indent_style = tab

[*.re]
indent_style = tab
