.DS_Store
.idea/
parser/lemon
parser/lemon.exe
*.dSYM/
bin/zephir55
parser/parser.c
parser/scanner.c
parser/parser.out
parser/Release
composer.lock
vendor/
build
phpunit.xml

# Ignore for all projects based on Zephir

.temp/
.libs/
ext
*.gch
*.lo
*.la
*.o
*.loT
*.gch
ide/
compile.log
compile-errors.log

# Runtime

runtime/.deps
runtime/Makefile
runtime/Makefile.fragments
runtime/Makefile.global
runtime/Makefile.objects
runtime/acinclude.m4
runtime/aclocal.m4
runtime/autom4te.cache/
runtime/config.guess
runtime/config.h
runtime/config.h.in
runtime/config.h.in~
runtime/config.log
runtime/config.nice
runtime/config.status
runtime/config.sub
runtime/configure
runtime/configure.in
runtime/install-sh
runtime/libtool
runtime/ltmain.sh
runtime/missing
runtime/mkinstalldirs
runtime/modules/
runtime/run-tests.php
runtime/a.zep
runtime/index.php
runtime/parser.out

# New Parser
parser/.deps
parser/Makefile
parser/Makefile.fragments
parser/Makefile.global
parser/Makefile.objects
parser/acinclude.m4
parser/aclocal.m4
parser/autom4te.cache/
parser/config.guess
parser/config.h
parser/config.h.in
parser/config.log
parser/config.nice
parser/config.status
parser/config.sub
parser/configure
parser/configure.in
parser/install-sh
parser/libtool
parser/ltmain.sh
parser/missing
parser/mkinstalldirs
parser/modules/
parser/parser/lemon
parser/parser/parser.c
parser/parser/parser.out
parser/parser/scanner.c
parser/parser/parser.php5.out
parser/parser/parser.php7.out
parser/run-tests.php
parser/zephir_parser.so
