*.html                  ident

prototypes/*            linguist-vendored

ext/*                   linguist-vendored
stub/*                  linguist-vendored
tests/*                 linguist-vendored

*.xml.dist              text eol=lf linguist-language=XML
*.json.dist             text eol=lf linguist-language=JSON
