.DS_Store
.temp/
ext/Makefile.global
ext/acinclude.m4
ext/aclocal.m4
ext/autom4te.cache/
ext/build/
ext/config.guess
ext/config.h.in
ext/config.sub
ext/configure
ext/configure.in
ext/install-sh
ext/ltmain.sh
ext/missing
ext/mkinstalldirs
ext/run-tests.php
ext/.deps
ext/Makefile
ext/Makefile.fragments
ext/Makefile.objects
ext/config.h
ext/config.log
ext/config.nice
ext/config.status
ext/libtool
ext/.libs/
ext/modules/
ext/*.lo
ext/*.la
ext/test.lo
ext/kernel/.libs/
ext/kernel/alternative/.libs/
ext/kernel/alternative/fcall.lo
ext/kernel/array.lo
ext/kernel/debug.lo
ext/kernel/fcall.lo
ext/kernel/hash.lo
ext/kernel/memory.lo
ext/kernel/object.lo
ext/kernel/operators.lo
ext/kernel/string.lo
ext/kernel/backtrace.lo
ext/kernel/exception.lo
ext/kernel/main.lo
ext/kernel/*.lo
ext/flow.lo
ext/arithmetic.lo
ext/router/.libs/
ext/router/route.lo
ext/oo/oonoconstruct.lo
ext/oo/ooconstruct.lo
ext/oo/.libs/
ext/oo/ooconstructparams.lo
ext/router/exception.lo
ext/router/route.loT
ext/arithmetic.o
ext/assign.o
ext/clean
ext/fibonnaci.o
ext/flow.o
ext/kernel/alternative/fcall.o
ext/kernel/array.o
ext/kernel/backtrace.o
ext/kernel/debug.o
ext/kernel/exception.o
ext/kernel/fcall.o
ext/kernel/hash.o
ext/kernel/main.o
ext/kernel/memory.o
ext/kernel/object.o
ext/kernel/operators.o
ext/kernel/string.o
ext/nativearray.o
ext/oo.o
ext/oo/ooconstruct.o
ext/oo/ooconstructparams.o
ext/oo/oonoconstruct.o
ext/router.o
ext/router/exception.o
ext/router/route.o
ext/test.o
ext/declare.o
ext/fcall.o
ext/cast.o
bin/zephir-parser
parser/lemon
parser/lemon.dSYM/
ext/properties/.libs/
ext/properties/.libs/publicproperties.o
ext/properties/.libs/protectedproperties.lo
ext/properties/publicproperties.lo
ext/properties/publicproperties.o
ext/properties/protectedproperties.lo
ext/properties/protectedproperties.o
ext/constants.o
ext/kernel/concat.o
ext/mcall.o
ext/scall.o
ext/regexdna.o
