.DS_Store
.idea/
.temp/
ext/Makefile.global
ext/acinclude.m4
ext/aclocal.m4
ext/autom4te.cache/
ext/build/
ext/config.guess
ext/config.h.in
ext/config.h.in~
ext/config.sub
ext/configure
ext/configure.in
ext/install-sh
ext/ltmain.sh
ext/missing
ext/mkinstalldirs
ext/run-tests.php
ext/.deps
ext/Makefile
ext/Makefile.fragments
ext/Makefile.objects
ext/config.h
ext/config.log
ext/config.nice
ext/config.status
ext/libtool
ext/.libs/
ext/modules/
*.lo
*.la
*.o
ext/kernel/.libs/
ext/kernel/alternative/.libs/
ext/test/.libs/
ext/test/oo/.libs/
ext/test/properties/.libs/
ext/test/router/.libs/
parser/lemon
parser/lemon.dSYM/
bin/zephir-parser.dSYM/
bin/zephir-parser
bin/zephir55
parser/parser.c
parser/scanner.c
composer.lock
vendor
