{
    "banner": [
        "This file is part of the Zephir.",
        "",
        "(c) Zephir Team <team@zephir-lang.com>",
        "",
        "For the full copyright and license information, please view",
        "the LICENSE file that was distributed with this source code."
    ],
    "directories": [
       "kernels",
       "Library",
       "prototypes",
       "templates",
       "vendor"
    ],
    "files": [
        "LICENSE"
    ],
    "blacklist": [
        "unit-tests",
        "test"
    ],
    "finder": [
        {
            "in": "kernels",
            "name": "*.*"
        },
        {
            "in": "Library",
            "name": "*.*"
        },
        {
            "in": "prototypes",
            "name": "*.*"
        },
        {
            "in": "templates",
            "name": "*.*"
        },
        {
            "in": "vendor",
            "name": "*.php",
            "exclude": [
                "CHANGELOG",
                "CONTRIBUTING",
                "README",
                "Tests",
                "behat",
                "bin",
                "build",
                "doc",
                "docs",
                "fixtures",
                "test",
                "tests"
            ]
        }
    ],
    "replacement-sigil": "$",
    "git-commit-short": "Id"
}
