<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./unit-tests/Bootstrap.php"
        >
    <testsuites>
        <testsuite name="Extension Test Suite">
            <directory>./unit-tests/Extension/</directory>
        </testsuite>
        <testsuite name="Zephir Test Suite">
            <directory>./unit-tests/Zephir/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./unit-tests/Extension/</directory>
            <directory>./unit-tests/Zephir/</directory>
        </whitelist>
        <blacklist>
            <directory>./build/</directory>
            <directory>./vendor/</directory>
            <directory>./prototypes/</directory>
            <file>./vendor/autoload.php</file>
        </blacklist>
    </filter>
</phpunit>
