.pln {
    color:  rgb(184, 208, 224);
}

.str {
    color: #f66;
}
.kwd {
    color: #6abafb
}
.com {
    color: #800
}
.typ {
    color: rgb(184, 208, 224);
}
.lit {
    color: #066
}
.pun,
.opn,
.clo {
    color: #660
}
.tag {
    color: #008
}
.atn {
    color: #606
}
.atv {
    color: #080
}
.dec,
.var {
    color: #606
}
.fun {
    color: red
}

pre.prettyprint {
    padding:5px;
    border-left: 3px solid %_main_color_%;
    background: rgb(18, 27, 33);
    color: #f6f3e8;
    word-break: break-all;
    font-size: 13px;
    font-family: Consolas, Menlo, 'Courier New', monospace;
}

ol.linenums {
    margin-top: 0;
    margin-bottom: 0
}
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
    list-style-type: none
}
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
   
}




.prettyprint>ol{
    counter-reset: ptpcounter;
}

.prettyprint>ol>li{
    position: relative;
}


.prettyprint>ol>li:before{
    content: counter(ptpcounter);
    counter-increment: ptpcounter;
    color: rgb(148, 148, 148);
    display: block;
    width: 33px;
    position: absolute;
    left: -44px;
    text-align: right;
    overflow: visible;
}
