name: 'Zephir Stub PHP Extension Build'
description: 'Build Stub extension for Windows according to various php versions.'

inputs:
  php_version:
    description: 'PHP version to build for (e.g: 7.4, 8.0)'
    required: true
  ts:
    description: 'Thread Safety'
    required: false
    default: 'nts'
  msvc:
    description: 'Microsoft Visual C++ compiler toolset prefix (e.g: vc14, vs15, vs16)'
    required: true
  arch:
    description: 'Target architecture (x64, x86)'
    required: false
    default: 'x64'
  install_dir:
    description: 'Target directory for php-sdk tools installation (e.g: C:\tools)'
    required: false
    default: 'C:\tools'
  cflags:
    description: 'CFLAGS for MSVC compiler'
    required: false
    default: ''
  ldflags:
    description: 'LDFLAGS for Linker'
    required: false
    default: ''

runs:
  using: 'composite'
  steps:
    - name: Setup Downloads Cache
      uses: actions/cache@v2
      with:
        path: ${{ env.CACHE_DIR }}
        key: ${{ runner.os }}-downloads-${{ hashFiles('**/.github/workflows/build-win-ext/actions.yml') }}
        restore-keys: |
          ${{ runner.os }}-downloads-${{ env.cache-name }}-
          ${{ runner.os }}-downloads-
          ${{ runner.os }}

    - name: Setup Prerequisites
      shell: powershell
      run: |
        echo "::group::Install dependencies"
        mkdir ${{ env.CACHE_DIR }}\Choco
        choco install --no-progress -y --cache-location=${{ env.CACHE_DIR }}\Choco re2c
        echo "::endgroup::"

    - name: Setup PHP SDK tool kit
      id: setup-php-sdk
      uses: ./.github/workflows/setup-php-sdk
      with:
        php_version: ${{ inputs.php_version }}
        ts: ${{ inputs.ts }}
        msvc: ${{ inputs.msvc }}
        arch: ${{ inputs.arch }}
        install_dir: ${{ inputs.install_dir }}
        cache_dir: ${{ env.CACHE_DIR }}

    - name: Configure Developer Command Prompt for MSVC compiler
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: ${{ inputs.arch }}

    - name: Generate C code
      shell: powershell
      run: |
        php zephir generate

    - name: PHPIZE
      shell: powershell
      working-directory: ext
      run: phpize

    - name: Configure
      shell: powershell
      working-directory: ext
      run: .\configure.bat --enable-stub --with-prefix=${{ env.PHP_ROOT }} `
        CFLAGS="${{ inputs.cflags }}" CXXFLAGS="${{ inputs.cflags }}" LDFLAGS="${{ inputs.ldflags }}"

    - name: Zephir compile
      shell: powershell
      run: php zephir compile `
        -Wnonexistent-function `
        -Wnonexistent-class `
        -Wunused-variable `
        -Wnonexistent-constant `
        -Wunreachable-code `
        -Wnot-supported-magic-constant `
        -Wnon-valid-decrement

    - name: Compile
      shell: powershell
      working-directory: ext
      run: nmake 1> ..\compile.log

    - name: Install Extension
      shell: powershell
      working-directory: ext
      run: nmake install

    - name: Enable Stub Extension
      shell: powershell
      run: |
        $ini = php -r "echo php_ini_loaded_file();"
        $entry = cat $ini | Select-String -Pattern "^(\s+)?extension(\s+)?=(\s+)stub"

        if ($entry.Matches) {
          Write-Output "INI entry 'extension=stub' is already setted at $(ini):$($entry.LineNumber)"
        } else {
          Write-Output "Append 'extension=stub' to $(ini)"
          "extension=stub" | Out-File -Encoding utf8 -Append $ini
        }

    - name: Check Stub Extension after build
      shell: powershell
      run: |
        Write-Output "::group::PHP path"
        Get-Command php
        Write-Output "::endgroup::"
        Write-Output "::group::PHP Extension directory"
        dir ${{ env.PHP_ROOT }}\ext
        Write-Output "::endgroup::"
        Write-Output "::group::PHP ini"
        php --ini
        Write-Output "::endgroup::"
        Write-Output "::group::Extensions in PHP ini"
        php -r "echo php_ini_loaded_file();"
        (cat $(php -r "echo php_ini_loaded_file();") | Select-String -Pattern "^;?extension(\s+)?=").Line
        Write-Output "::endgroup::"


